.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: auto;
  height: 100%;

  margin: 5px;
}

.container h1 {
  font-size: 35px;
}

.container h2 {
  font-size: 25px;
}